<h1>Budgy</h1>

<p>I am a splash page</p>

<p><a href="<%= new_user_session_path %>">Login</a></p>

<p><a href="<%= new_user_registration_path %>">Sign Up</a></p>

<%= button_to "Logout", logout_path, method: :delete %>
