<div class="container splash">
    <h1 class="budgy">Budgy</h1>

    <div class="buttons">
        <p class="login"><a href="<%= new_user_session_path %>">LOG IN</a></p>

        <p class="signup"><a href="<%= new_user_registration_path %>">SIGN UP</a></p>

        <%= button_to "Logout", logout_path, method: :delete %>
    </div>
</div>
